<h2>List of all ideas</h2>
<a href=/ideas/new>New</a> 
<% @ideas.each do |idea| %>
<hr>	
  <h4> <a href="<%= idea_path(idea) %>">
 	 <%= idea.title%></a> </h4>
  <p> <%= idea.description%></p> 
<hr>	
<%end%>
<br>
 






























