<h3>Create A New Idea  </h3>

 <br>
<% if @idea.errors.any? %>
<h5 style="color:red"><%= @idea.errors.full_messages.join(", ")%></h5>
<% end -%>
<br>

<form action="<%=ideas_path%>" method="post">
	<%= render "form" %>

</form>
